<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${userModel.title}]]</title>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>


<a th:href="@{~/users/form}">创建用户</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tr th:if="${userModel.userList.size()} eq 0">
        <td colspan="2">没有用户数据！</td>
    </tr>
    <tbody>
    <tr th:each="user : ${userModel.userList}">
        <td th:text="${user.id}"></td>
        <td><a th:text="${user.name}" th:href="@{'/users/modify/' + ${user.id}}"></a></td>
    </tr>
    </tbody>
</table>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>